a {
  text-decoration: none;
}
.setting {
  position: absolute;
  right: 0;
  top: 0;
}

#my-avatar {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
}
#my-bio {
  background-color: bisque;
  color: darkseagreen;
  font-size: 30px;
}
#sign-up {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
